#navigation-div table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid grey;
    padding-left: 3%;
    padding-right: 3%;
}
#navigation-div table tr td a {
    font-size: 17px;
}
#navigation-div table tr td:not(:nth-child(1)), #navigation-div table tr td:not(:nth-child(2)){
    width: 10%;
}

#navigation-div table tr td:nth-child(1){
    width: 10%;
}

#navigation-div table tr td:nth-child(2){
    width: 40%;
    font-weight: bold;
}

#navigation-div table tr td:nth-child(3){
    text-align: right;
}

#search_input {
    width: 90%;
}

#dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#dropdown-wrapper {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 25px 0px;
}

#dropdown-wrapper div {
    padding: 5px 5px;
    display: block;
    text-align: left;
}

#dropdown-wrapper div:hover {
    background-color: #f0f0f0;	
}

#dropdown:hover > div:not(.not-hover){
    display: block;
    z-index: 1;
}

.not-hover {

}
.add-pointer:hover {
    cursor: pointer;
}
