#search-results-div {
    z-index: 100;
    position: absolute;
    background-color: black;
    color: white;
    width: 60%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.search-results-class {
    border: 1px solid white;
}

.search-results-class:hover {
    cursor: pointer;
}