/*.projectTable div span:hover {
    cursor: pointer;
}*/
.collaborators_div{
    width: 70%;
    height: 100%;
    display: inline-block;
}
.count_wrapper_div{
    height: 13%;
}
.files_div{
    width: 30%;
    height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.photo_div_wrapper{
    position: relative;
    width: 100%;
    height: 80%;
}
.photo_div {
    width: 100%;
    height: 100%;
}
.photo_div:hover{
    cursor: pointer;
}
.projectRow {
    display: inline;
    width: 40%;
}
.project_title_div{
    width: 80%;
    position: absolute;
    bottom: 0;
}
.project_delete_div{
    width: 20%;
    display: inline-block;
    right: 0;
}
.user_project{
    display: inline-block;
    border: 1px solid black;
    width: 31%;
    height: 320px;
    margin: 10px 10px 10px 10px;
}
.user_project: hover{
    cursor: pointer;
}
#body_div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#my_projects_span{
    font-size: 30px;
    margin-left: 8%;
}

.my_projects_div_class{
    display: inline-block;
    width: 50%;
}

#create_project_div{
    text-align: right;
}

#create_project_div span {
    margin-right: 8%;
    padding: 1% 2% 1% 2%;
    background-color: rgb(216, 216, 216);
}

#create_project_div span:hover {
    cursor: pointer;
}

#new_project_row {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
}

#new_project_table{
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    border: 1px solid black;
}