.empty_cell {
    height: 12px;
}
.projectDiv {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.projectRow {
    /*outline: 1px dashed blue;*/
    outline: 1px solid blue;
    outline-spacing: 1px;
	margin: 1px;
}

.new_project_table {
    border: 1px dashed black;
    width: 100%;
}


#project_table {
    margin-left: auto;
    margin-right: auto;
}

#new_project {
    background-image: url("../../../media/add_project_button.png");
    width: 17px;
    height: 17px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-bottom: -3px;
}

#new_project:hover {
    cursor: pointer;
}