.projectDiv {
    border: 2px solid black;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.projectRow {
    /*outline: 1px dashed blue;*/
    outline: 1px solid blue;
    outline-spacing: 1px;
	margin: 1px;
}

.new_project_table {
    border: 1px dashed black;
}


#project_table {
    margin-left: auto;
    margin-right: auto;
}

#new_project {
    background-image: url("../../../media/add_project_button.jpg");
    width: 17px;
    height: 17px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
}