.loading-icon {
    background-image: url("../../../media/loading-icon.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 29%;
    height: 60px;
}

.play-stem {
    background-image: url("../../../media/play-stem.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
}

.pause-stem {
    background-image: url("../../../media/pause-stem.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 60px;
}

.previous-page-button {
    width: 2.5%;
    height: 30px;
}

.recent-updates-header{
    padding-bottom: 2%;
}

.recent-updates-header > div:not(:last-child){
    font-size: 13px;
    display: inline-block;
}

.recent-updates-header > div {
    
}

.recent-updates-header div:first-child{
    width: 90%;
}

.recent-updates-header div:nth-child(2){
    width: 9%;
}

.recent-updates-header div:last-child{
    font-size: 18px;
}

.recent-updates-header div:last-child img{
    text-align: center;
}

.empty-spacing-div {
    width: 15px;
}

.track_play_button {
    image: url("../../../media/play.png");
    width: 10%;
    height: 100%;
    margin-top: "auto";
    margin-bottom: "auto";
}

.track_pause_button {
    image: url("../../../media/play.png");
    width: 10%;
    height: 100%;
    margin-top: "auto";
    margin-bottom: "auto";
}

#info-div {
    /*border: 1px solid black;*/
    position: relative;
}

#info-div > div {
    display: inline-block;
    vertical-align: top;
}

#info-div > div > span{
    font-size : 27px;
}

#options-div {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: right;
}

#options-div > div {
    display: inline-block;
}

#options-div > div:not(.empty-spacing-div){
    padding: .25% 1% .25% 1%;
    background-color: rgb(216, 216, 216);
}

#project-description {
    background-color: #F8F8F8;
    border: 1px solid grey;
    font-size: 16.5px;
    margin-top: 8%;
    min-height: 500px;
    width: 100%;
}

#project-detail-navigation {
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

#project-detail-navigation > div {
    display: inline-block;
    vertical-align: top;
    height: 30px;
}

#project-detail-navigation span {
    font-size: 17px;
}

#project-detail-overview > span:hover {
    cursor: pointer;
}

#project-detail-overview {
    width: 26.5%;
    text-align: right;
}

#project-detail-overview span{
    margin: 0 2% 0 2%;
}

#project-detail-title {
    width: 70%;
}

#project-detail-track {
    height: 120px;
    width: : 100%;
    border: 1px solid black;
}

#project-detail-wrapper {
    position: relative;
}

#updates-div {
    width: 71%;
    margin-right: 1%;
}

#project-info-div {
    width: 27%;
}

#recent-updates {
    width: 95%;
    padding-top: 2%;
}