.hidden-stems{
    display: none;
}

.author-wrapper > div {
    display: inline-block;
}

.stem-content-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.stem-content-wrapper > div {
    padding-bottom: 2%;
}

.stem-files-entry div:not(:last-child){
    display: inline-block;
}

.stem-author {
    width: 79%;
}

.stem-duration {
    width: 20%;
    text-align: right;
}

.stem-author span {
    font-size: 13px;
}

.stem-duration span {
    font-size: 13px;
}

.stem-title-header-div{ 
    width: 90%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.stem-title-wrapper > div:not(.hidden-stems){
    padding: 1% 2%;
    background-color: #DBDBDB;
    display: inline-block;
}

.stem-title-wrapper{
    cursor: pointer;
    width: 100%;
}

.stem-title-wrapper div:first-child{
    width: 66%;
}

.stem-title-wrapper div:last-child{
    width: 26%;
    text-align: right;
}

.stem-files-list {
    margin-bottom: 2%;
}

#stem-files-title-div > div {
    display: inline-block;
}

#stem-files-title-div div:first-child {
    width: 80%;
    padding-left: 2.5%;
}

#stem-files-title-div div:first-child span{
    font-size: 18px;
}

#stem-upload {
    display: block;
    padding: 1% 2.5%;
    background-color: rgb(216, 216, 216);
}

#stem-files-title-div div:last-child span{
    font-size: 18px;
}

#stem-upload:hover {
    cursor: pointer;
}

#upload-stem-wrapper {
    background-color: rgb(216, 216, 216);
    width: 40%;
    border: 1px solid;
    height: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 29%;
    left: 0;
    right: 0;
}