.center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#comment-div{
    width: 800px;
}

#comment-table-id {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
}

.response {
    padding-left: 45px;
}