#project_table {
    margin-left: auto;
    margin-right: auto;
}

#track-list-table {
    margin-left: auto;
    margin-right: auto;
}

.track-comment{
    width: 25px;
}

.track-comment:hover{
    cursor: pointer;
}