#project_div {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 65%;
}

#track-list-table {
    margin-left: auto;
    margin-right: auto;
}

.track-comment{
    width: 25px;
}

.track-comment:hover{
    cursor: pointer;
}