.center{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#button-div-reply{
    text-align: center;
    margin-top: 5px;
}
#comment-div{
    width: 100%;
}

#comment-table-id {
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#comment-reply-input{
    width: 98%;
    margin-top: 5px;
}

#input-table-id {
    width: 100%;
    border-collapse: collapse;
}

#post-comment-div {
    margin-bottom: 10px;
}

#track-previous, #track-next {
    width: 10%;
    min-width: 30px;
}

#track-previous {
    background-image:url('../../../media/go-previous.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#track-previous:hover {
    cursor: pointer;
}

#track-next {
    background-image:url('../../../media/go-next.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#track-next:hover {
    cursor: pointer;
}

#user-comment-input {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 97%;
}

.response {
    padding-left: 45px;
}

.user-comments {
    color: lightblue;
    font-weight: bold;
    font-size: 22px;
}