.delete_social_network_site{
    width: 17px;
    margin-left: 5px;
    margin-bottom: -3px;
}
.delete_social_network_site:hover{
    cursor: pointer;
}

#div-user-profile {
    margin-top: 30px;
}
#social_network_button{
    width: 17px;
    margin-bottom: -4px;
    margin-left: 5px;
}
#social_network_button:hover {
    cursor: pointer;
}

#add_social_network{
    width: 267px;
}

#table-user-profile {
    margin-left: auto;
    margin-right: auto;
}

#table-user-info {
    margin-left: auto;
    margin-right: auto;
}